body {
    width: 300px;
}

.buttons {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
}

.right-side {
    width: 50px;
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.num-buttons {
    display: flex;
}

.button-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#clear {
    flex: 1;
}